#project-list {
  .tab-icon {
    margin-left: 5px;
  }
  .mat-tab-labels {
    flex: 1 1 auto;
    .mat-tab-lable {
      width: 33%;
    } 
  }
  .card-list {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    width: 100%;
  }
  .project-card {
    max-width: 350px;
    // max-height: 500px;
    margin: 10px 30px;
    .mat-card-subtitle {
      width: calc(300px - 72px);
      overflow: hidden;
      white-space: nowrap;
    }
    .img-background {
      width: calc(100% + 32px);
      margin: 0px -16px;
      text-align: center;
      background-color: rgba(192,192,192,0.5);
      .card-img {
        // width: unset;
        max-height: 200px; 
        margin-bottom: -3px;
      }
    }
  }
  .project-header-image {
    background-image: url('/assets/icons/posmapp-icon.png');
    background-size: cover;
    margin: -8px -8px 0px -8px;
  }
  .card-content {
    width: 100%;
  }
  .flex-block {
    display: flex;
    .left-block {
      margin-top: auto;
      margin-bottom: auto;
    }
    .right-block {
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .color-edit {
    background-color: #00A85A;
    color: #fff;
  }
}

.mat-expansion-panel-header-title {
  width: 3rem;
}
// .m-5 {
//   margin: 5px;
// }
// .m-10 {
//   margin: 10px;
// }