.h4 {
  font-family: monospace;
  font-weight: bold;
}
.spacer {
  height: 56px;
  width: 100%;
}
.fixed {
  position: fixed;
  z-index: 1000;
  top: 0px;
}

.icon-sm {
  padding: 0 14px;
} 

.spacer-right {
  flex: 1 1 auto;
}

.row {
  display: flex;
  font-size: 0.8rem;
  font-family: monospace;
  font-weight: bold;
  p {
    margin: 10px;
  }
}
.header-image {
  background-size: cover;
}
.icon-button-label {
  display: flex;
  flex-direction: column;
  button {
    // margin-bottom: -5px;
  }
  span {
    padding: 0;
    margin: 0;
    font-size: 0.6rem;
    line-height: 10px;
    text-align: center;
  }
}