.title-block {
    width: 150px;
    margin: auto;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Londrina Shadow', cursive;
    text-align: center;
    img {
        width: 35%;
        // max-height: calc(100% - 56px - 50px - 55 * 4px - 60px);
        margin: 10px auto 0px auto;        
    }
    p {
        margin-top: 0px;
        margin-bottom: 5px;
    }
}
.login-card {
    width: 80%;
    margin: auto;
}