<div id="project-map">
    <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedTab">
        <mat-tab>
          <ng-template mat-tab-label>
            Map
            <mat-icon class="tab-icon">map</mat-icon>
          </ng-template>
          <div>
            <mat-card class="map-card">
                <mat-card-actions class="flex-block">
                  <div class="left-block">
                    <img class="title-image" *ngIf="project && project.image" [src]="project.image">
                    <span class="title-block">{{ project.name }}</span>
                  </div>
                  <div class="right-block">
                    <button mat-raised-button color="warn" (click)="openNewPlot()">Add</button>
                    <!-- <button mat-raised-button color="" class="color-edit" (click)="updateProject(project)">Update</button> -->
                    <!-- <button mat-raised-button color="warn">Delete</button> -->
                  </div>
                </mat-card-actions>
            </mat-card>
          </div>
          <div id="pixiContainer" #pixiContainer>
            <ng-template [ngIf]="selectedPlot.id">
              <mat-card id="plotDetail">
                <mat-card-header>
                  <mat-card-title>
                    <mat-form-field>
                      <mat-label>Plot name</mat-label>
                      <input matInput [(ngModel)]="selectedPlot.name" (change)="onChangeSelectedPlot()">
                    </mat-form-field>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <table>
                    <tr>
                      <td>X</td>
                      <!-- <td>{{ plot?.x }}</td> -->
                      <td><mat-slider thumbLabel tickInterval="1" min="-100" max="100" step="1" [(ngModel)]="selectedPlot.x" (change)="onChangeSelectedPlot()"></mat-slider></td>
                    </tr>
                    <tr>
                      <td>Y</td>
                      <td><mat-slider thumbLabel tickInterval="1" min="-100" max="100" step="1" [(ngModel)]="selectedPlot.y" (change)="onChangeSelectedPlot()"></mat-slider></td>
                    </tr>
                  </table>
                </mat-card-content>
              </mat-card>
            </ng-template>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Setting
            <mat-icon class="tab-icon">tool</mat-icon>
          </ng-template>
          <div class="card-list">
            <mat-card class="project-card">
                <mat-card-header>
                  <div mat-card-avatar class="map-header-image"></div>
                    <mat-card-title>title</mat-card-title>
                    <mat-card-subtitle>subtitle</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>description</p>
                </mat-card-content>
                <mat-card-actions class="flex-block">
                </mat-card-actions>
              </mat-card>
          </div>
        </mat-tab>
      </mat-tab-group>
  </div>
  
  